.education{
    width: 70%;
    height: 65%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sideheading-s{
    width: 200px;
    border-bottom: 1px solid #0bbcec;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: .08em;
    font-weight: 350;
    line-height: 1.1;
    margin-top: 0;
}
/* 
.body-content{
    border-bottom: .5px solid #bdc6c9;
} */