@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}

/* 
body {
	background-color: #f4f4f4;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
} */

.skills {
    width: 70%;
    height: 65%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sideheading {
    /* border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent; */
    width: 100px;
    border-bottom: 1px solid #0bbcec;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: .08em;
    font-weight: 350;
    line-height: 1.1;
    margin-top: 0;
}

.score {
    margin-left: 15%;
}
.content{
   

    font-family: '-apple-system' 'Segoe UI', 'Roboto','Open Sans', 'Helvetica Neue', sans-serif,Helvetica ,sans-serif;
    font-size: 16px;
    color: #738a94;
   margin: 0 0 16px;
}

.technology {
    padding: 20px;
}

#name {
    height: 30px;
    width: 150px;
}

.progress {
    background-color: #c5c2c2;
    border-radius: 6px;
    margin-top: -50px;
    margin-left: 130px;
    height: 30px;
    width: 60%;
}

.progress-done {
    background: linear-gradient(to left, #525e6b, #799abe);
    box-shadow: 0 3px 3px -5px #4d5661, 0 2px 5px #2B333c;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}

.progress-done :hover {
    cursor: pointer;
    background: linear-gradient(to left, #1176e2, #799abe);
    box-shadow: 0 3px 3px -5px #106fdb, 0 2px 5px #1b76dd;
}